<div class="child_middle_cont" [ngStyle]="{'background-image': getBckUrl()}">
    <div class=child_middle_left align="left">

    </div>
    <div class=child_middle_right align="right">
        <H1>{{title}}</H1>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
    </div>
</div>