.css-selector {
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Mono', monospace;
}

#child_upp_cont {
    display: inline-block;
    width: 100%;
    height: 30%;
    background-image: url("../assets/gow.jpg");
    background-position: left;
    background-size: cover;
}

#child_upp_left {
    display: inline-block;
    position: left;
    width: 35%;
    height: 100%;
}

.child_upp_left img {
    width: 100%;
    height: 100%;
    background-image: url(../assets/gow.jpg);
    background-position: center;
    background-size: cover;
}

#child_upp_right {
    float: right;
    min-height: 100%;
    background: rgba(0, 0, 0, 0, 0.5);
}

#child_middle_cont {
    max-width: 95%;
    max-height: 75%;
}

#child_lower_cont {
    max-width: 95%;
    max-height: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: darkorange;
    font-family: 'Roboto Mono', monospace;
}

li a:hover {
    background-color: rgba(146, 141, 141, 0.63);
}

.active {
    background-color: yellow;
}