<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

    <div class="child_upp_cont">
        <h1 align="left" style="color:rgba(0,0,0,0); font-family: 'Playfair Display', serif;">Welcome to Amazon</h1>
        <div class="child_upp_left"></div>
        <div class=child_upp_right>
            <nav align="right ">
                <ul>
                    <li><a href="#Contactus " style="text-align:right ">Contact Us</a></li>
                    <li><a href="#Gallery " style="text-align:right ">Gallery</a></li>
                    <li><a href="#Charges " style="text-align:right ">Charges</a></li>
                    <li><a href="#Service " style="text-align:right ">Service</a></li>
                    <li><a href="#About " style="text-align:right ">About</a></li>
                    <li><a href="#Home " style="text-align:right ">Home</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="child_middle_cont">
        <div class=child_middle_left align="left">

        </div>
        <div class=child_middle_right align="right">
            <p>This is a sample text to be kept in right middle container</p>
            <p>This is a sample text to be kept in right middle container</p>
            <p>This is a sample text to be kept in right middle container</p>
        </div>
    </div>
    <div class=" child_lower_cont" align="bottom">
        <p align="center">Call us : 9971110940</p>
        <p align="center">Email us : Hemant298268@gmail.com</p>
    </div>
</div>