<head>
    <title>Home page</title>

</head>
<div class="child_middle_cont" id="home_mid_img" [@myTrigger]='state' (@myTrigger.done)="set_visible($event)" [ngStyle]="{'background-image':'url(' + image + ')'}">
    <div class=child_middle_left align="left">

    </div>
    <div class=child_middle_right align="right">
        <p>{{t1}}</p>
        <p>{{t2}}</p>
        <p>{{t3}}</p>
        <p>{{t4}}</p>
        <p>{{t5}}</p>
        <p>{{t6}}</p>
        <p>{{t7}}</p>
        <p>{{t8}}</p>
        <p>{{t9}}</p>
        <p>{{t10}}</p>
    </div>
</div>