<div class="child_middle_cont" id="home_mid_img" [@myTrigger]='state' (@myTrigger.done)="set_visible($event)" [ngStyle]="{'background-image':'url(' + image + ')'}">
    <div class=child_middle_left align="left">

    </div>
    <div class=child_middle_right align="right">
        <p>{{t1}}</p>
        <p>{{t2}}</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
        <p>I am a linked component</p>
    </div>
</div>